.sale{
    background-image: url('../assets/image/pexels-andrea-piacquadio-868483.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.saleOne{
    background-color: rgba(0,0,0,0.5);
}
.Esalebottom{
    position: relative;
    top: 40%;
    text-align: center;
}